@use "abstract/colors";

body{
    min-height: 100vh;
    background:linear-gradient(to bottom right, #B7CADB,#54BAB9);
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    color: map-get(colors.$cookie,"spots");
    padding:4rem;
}

.buttonAndAvatarWrapper{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.main{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    gap: 2rem;
}