@use "abstract/reset";
@use "base";
@use "./components/header/header.scss";
@use "./components/upgrades/upgrades.scss";
@use "./components/save/save.scss";
@use "./components/avatar/avatar.scss";
@use "./components/score/score.scss";
@use "components/cookie/cookie.scss";
@use "abstract/mediaqueries";