@use "../../abstract/vars";
@use "../../abstract/animations";
.header{
    background: white;
    height: map-get(vars.$vhCalc, "heightOfHeader");
    font-family: 'Amatic SC', cursive;
    border-radius: 5rem 5rem 0 0;
    max-width: 150rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    
    &__logo{
        display: flex;
        font-size: 300%;
        align-items: center;
        gap: 0.5rem;
        font-weight: 400;
        justify-content: center;
    }
    &__avatarWrapper{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 2rem;
    }
}