@use "../../abstract/colors";

.avatar{
    width: 10rem;
    height: 10rem;
    background: map-get(colors.$cookie,"background");
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 0.6rem solid map-get(colors.$cookie,"spots");
    &__head{
        width: 40%;
        height: 40% ;
        background: map-get(colors.$cookie,"spots");
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.8s all;
    }

    &__body{
        width: 70%;
        height: 70%;
        background:map-get(colors.$cookie,"spots");
        border-radius: 50%;
        position: absolute;
        left:50%;
        top: 110%;
        transform: translate(-50%,-50%);
    }
    &:hover{
        cursor: pointer;
    }
    &:hover &__head{
        transform: translate(-50%,-50%) scale(1.1);
    }
}