@keyframes popup {
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@mixin a-popup{
    animation-name: popup;
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}