@keyframes popup {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes popupCard {
    from{
        opacity: 0;
        transform: translateY(2rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}