@use "../../abstract/vars";
@use "../../abstract/colors";
@use "../../abstract/mixins";
.banky {
    background: white;
    min-height: calc(100vh - map-get(vars.$vhCalc, "heightOfHeader") - map-get(vars.$vhCalc, "paddingOfBody"));
    padding: map-get(vars.$vhCalc, "paddingOfBody") / 2;
    display: grid;
    grid-template-columns: vars.$sectionWidth;
    max-width: 150rem;
    margin: 0 auto;

    &__section {
        display: flex;

        &--left {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;
        & > div {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
    }

    &__money {
        font-weight: 400;
        font-size: 250%;
    }

    &__logo {
        border-radius: 50%;
        font-size: 2rem;
        width: 5rem;
        height: 5rem;
        background: vars.$gradient;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get(colors.$baseColors,"whiteColor");
        box-shadow: vars.$box-shadow;
        transition: 0.2s all;
        &:hover .banky__logo{
            background:vars.$gradientDark;
        }
    }

    &__eye {
        border-radius: 50%;
        font-size: 2rem;
        width: 3rem;
        height: 3rem;
        background: vars.$gradient;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map-get(colors.$baseColors,"whiteColor");
        box-shadow: vars.$box-shadow;
    }

    &__eyeButton{
        background: none;
        border: none;
        &:hover{
            cursor: pointer;
            
            
        }
        &:hover .banky__logo{
                background:vars.$gradientDark;
            }
    }

    &__transactions {
        list-style: none;
        padding: 2rem;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 70%;
        overflow-y: scroll;
    }

    &__transaction {
        display: flex;
        font-size: 120%;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-bottom: 0.5rem;
        padding-right: 2rem;
        &::after {
            @include mixins.afterStyle;
        }
    }

    &__name {
        font-weight: 300;
        font-size: 120%;
    }

    &__amount {
        font-weight: 300;
        font-size: 120%;
    }
    &__transferButton {
        background: vars.$gradient;
        font-size: 100%;
        border: none;
        padding: 1rem;
        margin-top: 2rem;
        color: map-get(colors.$baseColors,"whiteColor");
        border-radius: 0.5rem;
        box-shadow: vars.$box-shadow;
        transition: 0.4s all;
        &:hover {
            cursor: pointer;
            background: map-get(colors.$baseColors,"whiteColor");
            color: map-get(colors.$baseColors, "backgroundDark");
            box-shadow: inset 0 0 0 0.2rem map-get(colors.$baseColors, "backgroundDark");
        }
    }

    &__accounts{
        list-style: none;
        display:flex;
        align-items: center;
        width: 100%;
        flex-direction: column;
        gap: 4rem;
        justify-content: center;
    }

    &__switchAccount{
        background: none;
        border: none;
        &:hover{
            cursor: pointer;  
        }
        &:hover .banky__logo{
                background:vars.$gradientDark;
            }
    }

    &__account{
        display: flex;
        align-items: center;
        gap: 1rem;

    }
    &__nameOfAccount{
        font-weight: 400;
        font-size: 120%;
    }
}
