@use "./colors";
$vhCalc: (
    "heightOfHeader": 8rem,
    "paddingOfBody": 4rem,
);

$box-shadow: 0 0.2rem 0.5rem 0
    rgba(
        $color: #000000,
        $alpha: 0.4,
    );

$font-family: "Open Sans", sans-serif;

$gradient: linear-gradient(
    to bottom right,
    map-get(colors.$baseColors, "background"),
    30%,
    map-get(colors.$baseColors, "backgroundDark")
);

$gradientDark: linear-gradient(
    to bottom right,
    map-get(colors.$baseColors, "background"),
    10%,
    map-get(colors.$baseColors, "backgroundDark")
);

$sectionWidth: 40% 60%;