*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
}

body {
  padding: 4rem;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom right, #AA77FF, 30%, #66347F);
  min-height: 100vh;
  padding-bottom: 0;
}

.header {
  background: white;
  height: 8rem;
  font-family: "Amatic SC", cursive;
  border-radius: 5rem 5rem 0 0;
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.header__logo {
  display: flex;
  font-size: 300%;
  align-items: center;
  gap: 0.5rem;
  font-weight: 400;
  justify-content: center;
}
.header__avatarWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
  background: #AA77FF;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 0.6rem solid #66347F;
}
.avatar__head {
  width: 40%;
  height: 40%;
  background: #66347F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.8s all;
}
.avatar__body {
  width: 70%;
  height: 70%;
  background: #66347F;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 110%;
  transform: translate(-50%, -50%);
}
.avatar:hover {
  cursor: pointer;
}
.avatar:hover .avatar__head {
  transform: translate(-50%, -50%) scale(1.1);
}

.banky {
  background: white;
  min-height: calc(100vh - 8rem - 4rem);
  padding: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
  max-width: 150rem;
  margin: 0 auto;
}
.banky__section {
  display: flex;
}
.banky__section--left {
  flex-direction: column;
  justify-content: space-between;
}
.banky__header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.banky__header > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.banky__money {
  font-weight: 400;
  font-size: 250%;
}
.banky__logo {
  border-radius: 50%;
  font-size: 2rem;
  width: 5rem;
  height: 5rem;
  background: linear-gradient(to bottom right, #AA77FF, 30%, #66347F);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  transition: 0.2s all;
}
.banky__eye {
  border-radius: 50%;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(to bottom right, #AA77FF, 30%, #66347F);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
}
.banky__eyeButton {
  background: none;
  border: none;
}
.banky__eyeButton:hover {
  cursor: pointer;
}
.banky__eyeButton:hover .banky__logo {
  background: linear-gradient(to bottom right, #AA77FF, 10%, #66347F);
}
.banky__transactions {
  list-style: none;
  padding: 2rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 70%;
  overflow-y: scroll;
}
.banky__transaction {
  display: flex;
  font-size: 120%;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 0.5rem;
  padding-right: 2rem;
}
.banky__transaction::after {
  content: "";
  width: 100%;
  height: 3%;
  background: linear-gradient(to bottom right, #AA77FF, 30%, #66347F);
  position: absolute;
  bottom: 0;
  left: 0;
}
.banky__name {
  font-weight: 300;
  font-size: 120%;
}
.banky__amount {
  font-weight: 300;
  font-size: 120%;
}
.banky__transferButton {
  background: linear-gradient(to bottom right, #AA77FF, 30%, #66347F);
  font-size: 100%;
  border: none;
  padding: 1rem;
  margin-top: 2rem;
  color: #eee;
  border-radius: 0.5rem;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.4);
  transition: 0.4s all;
}
.banky__transferButton:hover {
  cursor: pointer;
  background: #eee;
  color: #66347F;
  box-shadow: inset 0 0 0 0.2rem #66347F;
}
.banky__accounts {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
}
.banky__switchAccount {
  background: none;
  border: none;
}
.banky__switchAccount:hover {
  cursor: pointer;
}
.banky__switchAccount:hover .banky__logo {
  background: linear-gradient(to bottom right, #AA77FF, 10%, #66347F);
}
.banky__account {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.banky__nameOfAccount {
  font-weight: 400;
  font-size: 120%;
}

body {
  scrollbar-color: #66347F white; /* scroll thumb and track */
}

@media screen and (max-width: 62.5rem) {
  .banky {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .banky__accounts {
    align-items: flex-start;
    position: relative;
    padding-bottom: 2rem;
  }
  .banky__accounts::after {
    content: "";
    width: 100%;
    height: 3%;
    background: linear-gradient(to bottom right, #AA77FF, 30%, #66347F);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
@media screen and (max-width: 37.5rem) {
  body {
    padding: 0;
  }
  .header {
    border-radius: 0;
  }
  .banky__transactions {
    height: auto;
    overflow: auto;
  }
}

/*# sourceMappingURL=style.css.map */
